/*
  Navigation
*/

.navbar-area {
  margin: 0 auto;
  list-style-type: none;
  padding: 0;
  width: 100%;
  background-color: #00000086;
  height: 70px;
  position: fixed;
  top: 0;
  display: flex;
  z-index: 3;
}

.site-navbar {
  width: 60%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

a.site-logo img {
  max-width: 70px;
}

.site-navbar ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

.site-navbar ul li a {
  color: #fff;
  padding: 20px;
  display: block;
  text-decoration: none;
  text-transform: uppercase;
}
.nav-list a:hover {
  background: rgba(255,255,255,.1);
}

.search-bar {
  margin: 0 10px 0 25px;
}

.login-btn {
  margin: -10px;
  font-size: 13px;
}

.login-button p {
  border: 2px solid rgba(197, 197, 197, 0.397);
  border-radius: 7px;
  padding: 7px 10px;
}

.login-button p:hover {
  color: white;
  background-color: #50727C;
  border-color: #50727C;
}

.search-bar {
  transition: all 0.16s ease-in;
}

.search-bar:hover {
  transform: translateX(5px);
}

/* navbar regular css end */


/* nav-toggler css start */
.nav-toggler {
  border-color: rgba(0, 0, 0, 0);
  padding: 5px;
  background-color: transparent;
  cursor: pointer;
  height: 39px;
  display: none;
}
.nav-toggler span, 
.nav-toggler span:before, 
.nav-toggler span:after {
  width: 28px;
  height: 3px;
  background-color: #fff;
  display: block;
  transition: .3s;
}
.nav-toggler span:before {
  content: '';
  transform: translateY(-9px);
}
.nav-toggler span:after {
  content: '';
  transform: translateY(6px);
}
.nav-toggler.toggler-open span {
  background-color: transparent;
}
.nav-toggler.toggler-open span:before {
  transform: translateY(0px) rotate(45deg);
}
.nav-toggler.toggler-open span:after {
  transform: translateY(-3px) rotate(-45deg);
}

/* words breakpoint start */
@media (min-width: 1050px) and (max-width: 1645px) {

  .site-navbar {
    width: 100%;
  }

}

/* mobile breakpoint start */
@media (min-width: 700px) and (max-width: 1050px) {

  /* navbar css for mobile start */

  .nav-toggler{
    display: block;
  }
  .site-navbar {
    width: 90%;
    min-height: 60px;
  }
  .site-navbar ul {
    position: absolute;
    width: 100%;
    height: calc(100vh - 60px);
    left: 0;
    top: 60px;
    flex-direction: column;
    align-items: center;
    background-color: rgba(0,0,0,.75);
    max-height: 0;
    overflow: hidden;
    transition: .3s;
  }
  .site-navbar ul li {
    width: 100%;
    text-align: center;
  }
  .site-navbar ul li a {
    padding: 25px;
  }

  .site-navbar ul.open {
    max-height: 100vh;
    overflow: visible;
  }
  .intro-area h2 {
    font-size: 36px;
    margin-bottom: 15px;
  }  

  .login-btn p {
    padding: 15px 20px;
    margin: auto;
    width:fit-content ;
  }
  /* navbar css for mobile end */
}
/* mobile breakpoint end */

@media screen and (max-width: 700px) {

  /* navbar css for mobile start */

  .navbar-area {
    margin: 0 auto;
    list-style-type: none;
    padding: 0;
    width: 100%;
    background-color: #00000000;
    max-height: 50px;
    position: sticky;
    top: 0;
    display: flex;
    z-index: 3;
  }
  
  a.site-logo img {
    max-width: 50px;
  }
  
  .site-navbar ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
  }

  .nav-toggler {
    display: block;
  }

  .site-navbar {
    width: 90%;
  }

  .site-navbar ul {
    position: absolute;
    width: 100%;
    height: calc(100vh - 60px);
    left: 0;
    top: 60px;
    flex-direction: column;
    align-items: center;
    background-color: rgba(0,0,0,.75);
    max-height: 0;
    overflow: hidden;
    transition: .3s;
  }
  .site-navbar ul li {
    width: 100%;
    text-align: center;
  }
  .site-navbar ul li a {
    padding: 25px;
  }
  .nav-list ul li a:hover {
    background-color: rgba(255,255,255,.1);
  }
  .site-navbar ul.open {
    max-height: 100vh;
    overflow: visible;
  }
  .intro-area h2 {
    font-size: 36px;
    margin-bottom: 15px;
  }  

  .login-btn p {
    padding: 15px 20px;
    margin: auto;
    width:fit-content ;
  }
  /* navbar css for mobile end */
}
/* mobile breakpoint end */

  /* 
    Footer
  */
  
  .footer-container {
    position: relative;
    bottom: 0;
    background-color: #50727C;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    width: 100%;
    font: normal 16px sans-serif;
    padding: 80px;
    color: #ffffff;
  }
  
  .footer-container .row {
    margin: 0 auto;
    width: 83%;
  }
  
  .footer-container a {
    float: right;
    width: 35px;
    height: 35px;
    border-radius: 2px;
    font-size: 20px;
    color: #ffffff;
    line-height: 35px;
    margin-left: 3px;
    transition: all .25s;
  }

  .footer-container a:hover {
    transform: scale(1.3);
    color: #ffffff;
  }
  
  .footer-container p {
    margin: 0 0 10px;
    padding: 0;
    transition: ease .25s;
    float: left;
  }


/* footer breakpoint start */
@media (min-width: 767px) and (max-width: 1050px) {


  .footer-container .row {
    width: 100%;
  }

}



@media screen and (max-width: 767px) {

  .footer-container .row {
    width: 100%;
  }

  .footer-container a {
    padding-top: 20px;
    float: left;
  }
}
/* footer breakpoint end */