/* apply a natural box layout model to all elements */
html {
    box-sizing: border-box;
  }

  body {
    position: relative;
  }

  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }

  .sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
  }

  :root {
    --red: #d30303;
  }

  ul {
    margin: 0;
  }

  a{
    text-decoration: none;
  }

  .selector-for-some-widget {
    box-sizing: content-box;
  }

  /*
    Typography
  */

  @import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Ubuntu&display=swap');
  /*font-family: 'Ubuntu', sans-serif;*/

  h1, h2, h3, h4 {
    font-family: 'Raleway', sans-serif;
  }

  p {
    font-family: 'Ubuntu', sans-serif;
  }


  /*
  Banner
*/

/* content */

body {
  width: 100%;
  height: 70vh;
  background: url("../images/sample_gate.png") top center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  position: relative;
  z-index: -5;
}

#section-1 {
  margin: 0 auto;
  width: 60%;
  height: 80vh;
}

.section-1-container {
  height: 80vh;
  text-align: center;
  display: flex;
  align-items: center;
}

#announcement {
  background-color: rgba(255, 255, 255, 0.459);
  width: 60%;
  min-height: 20vh;
  padding: 30px
}

#announcement h2 {
  color: #50727C;
  font-weight: bold;
}

#announcement h3 {
  color: white;
  padding: 5px 0;
  border-bottom: 2px solid rgb(211, 211, 211);
}

@media (min-width: 992px) and (max-width: 1645px) {
  #announcement {
    width: 80%;
  }

}


/* tablet breakpoint start */
@media (min-width: 768px) and (max-width: 992px) {

  #announcement {
    width: 80%;
  }

}
/* tablet breakpoint end */



/* mobile breakpoint start */
@media screen and (max-width: 768px) {

  #announcement {
    width: 100%;
  }

}
/* mobile breakpoint end */

.section-1-container h3 {
  padding: 20px 2000px;
}
.msg {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
